<div
  class="flex flex-col gap-5 min-h-full h-full px-4 py-3 border-r border-gray-100"
>
  <h2 class="text-lg font-montserrat font-medium text-gray-900 text-center">
    My Books
  </h2>
  <div class="flex flex-col gap-1">
    <div
      class="text-base text-gray-600 px-3 p-2 hover:bg-gray-100 border border-white hover:border hover:border-gray-200 cursor-pointer rounded-md hover:text-black transition duration-100"
    >
      Flex you mentality
    </div>
    <div
      class="text-base text-gray-600 px-3 p-2 hover:bg-gray-100 border border-white hover:border hover:border-gray-200 cursor-pointer rounded-md hover:text-black transition duration-100"
    >
      The twilight
    </div>
    <div
      class="text-base text-gray-600 px-3 p-2 hover:bg-gray-100 border border-white hover:border hover:border-gray-200 cursor-pointer rounded-md hover:text-black transition duration-100"
    >
      Iron man
    </div>
    <div
      class="text-base text-gray-600 px-3 p-2 hover:bg-gray-100 border border-white hover:border hover:border-gray-200 cursor-pointer rounded-md hover:text-black transition duration-100"
    >
      Computer Science
    </div>
  </div>
</div>
